html {
	--blue: rgb(1, 163, 164);
	--white: #ffffff;
	--yellow: rgb(254, 202, 87);
	--red: rgb(255, 107, 107);
	color: var(--black);
	font-size: 18px;
	font-family: 'Inconsolata', 'Montserrat Alternates', sans-serif;
}

h1 {
	font-weight: 400;
	font-size: 2em;
}

h3 {
	font-size: 1em;
	font-weight: 400;
}

h4 {
	font-size: 1em;
	font-weight: 400;
}

div {
	margin: auto;
	text-align: center;
}

.importantMessage {
	font-size: 2em;
	font-weight: 500;
}

#container {
	margin: 0px 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.startGameDivs {
	margin: 40px 10px 0px 10px;
	border: solid 2px black;
	border-radius: 15px;
	height: 150px;
	max-width: 400px;
	min-width: 200px;
	flex: 1;
}

#choices {
	max-width: 800px;
	display: flex;
	justify-content: center;
}

.choiceDiv {
	max-width: 200px;
	min-width: 120px;
}

/* svg {
	max-width: 200px;
} */

.joinCreateButtonDiv {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

.startGameDivs button {
	margin: auto;
	border: none;
	background-color: #feca57;
	color: black;
	height: 50%;
	width: 80%;
	border-radius: 15px;
}

.startGameDivs form {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

form input {
	margin: auto;
	border: none;
	border-bottom: solid 2px black;
	display: block;
	width: 130px;
}

#joinInputDiv {
	width: 80%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

#gameContainer {
	display: none;
}

#Rock:hover {
	color: var(--blue);
}

#Paper:hover {
	color: var(--yellow);
}

#Scissor:hover {
	color: var(--red);
}

.noHoverDisabled {
	color: grey;
	pointer-events: none;
}

.scoreboardDiv {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	font-size: 3em;
}

.replayButtons {
	margin: 10px auto;
	border: none;
	background-color: var(--yellow);
	color: black;
	height: 40px;
	width: 180px;
	border-radius: 15px;
}

#container.hide {
	display: none;
}

@media (max-width: 600px) {
	#choices {
		flex-direction: column;
	}
	.scoreboardDiv {
		font-size: 1.8em;
	}
	.choiceDiv {
		max-width: 150px;
		min-width: 100px;
	}
}