body{
	color: white;
}
.mainContainer{
}
.gameContainer{ 
	background-color: grey;
	max-width: 800px;
}
div {
	margin:auto;
	text-align: center;
	padding: 10px;
}
#playAgainButton{
  display: none;
}
#acceptInviteButton{
  display: none;
}
